:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #191c26;
  --alternative-light-bg-color: #f7f7f7;
  --alternative-dark-bg-color: #111319;
  --main-dark-text-color: #555555;
  --main-light-text-color: #9da4bd;
  --subtitles-text-color: rgba(157, 164, 189, 0.6); /* #9da4bd 60% */
  --placeholder-text-color: rgba(157, 164, 189, 0.4); /* #9da4bd 40% */
  --dots-color: rgba(157, 164, 189, 0.12); /* #9da4bd 12% */
  --secondary-dark-text-color: #303030;
  --secondary-light-text-color: #ffffff;
  --accent-color: #ff6c00;
  --animation-time: 250ms;
  --animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio, .team, .advantages, .services-left,
.services-right, .services, .about, .social, .recources, .menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.address__link, .social__link, .recources__link, .menu__link, .logo {
  text-decoration: none;
}

.btn__submit, .btn--dark, .btn--light {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: border-color var(--animation-time) var(--animation-time-function);
  transition: border-color var(--animation-time) var(--animation-time-function);
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: var(--main-bg-color);
  color: var(--main-dark-text-color);
}

img {
  display: block;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}

.section__services {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  background-color: var(--alternative-dark-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.8)), to(rgba(17, 19, 25, 0.8))), url("../images/services/mobile/services-bg-mobile.jpg");
  background-image: linear-gradient(rgba(17, 19, 25, 0.8), rgba(17, 19, 25, 0.8)), url("../images/services/mobile/services-bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section__services {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/services/mobile/services-bg@2x-mobile.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/services/mobile/services-bg@2x-mobile.jpg");
  }
}
.section__team {
  background-color: var(--alternative-light-bg-color);
}

.container {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container__services {
  text-align: center;
}

.container__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.logo {
  display: block;
  margin-right: 72px;
  width: 70px;
  height: 56px;
  color: var(--main-bg-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.logo:hover, .logo:focus {
  color: var(--accent-color);
}

.logo__icon {
  fill: currentColor;
}

.mobile-menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  color: var(--main-bg-color);
  background-color: transparent;
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.mobile-menu:hover, .mobile-menu:focus {
  cursor: pointer;
  color: var(--accent-color);
}

.mobile-menu__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.title--light {
  color: var(--secondary-light-text-color);
}
.title--dark {
  color: var(--secondary-dark-text-color);
}

.title__about {
  margin-top: 0;
  margin-bottom: 20px;
}

.title__services {
  margin-top: 0;
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.17;
  text-align: left;
}

.title__advantages {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.17;
}

.title__team {
  margin-top: 0;
  margin-bottom: 44px;
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.subtitle--light {
  color: var(--subtitles-text-color);
}
.subtitle--dark {
  color: var(--secondary-dark-text-color);
}

.subtitle__about {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.18;
}
.subtitle__about::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--secondary-dark-text-color);
}

.subtitle__services {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.subtitle__services::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--subtitles-text-color);
}

.subtitle__advantages {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle__advantages::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--secondary-dark-text-color);
}

.subtitle__team {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle__team::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--secondary-dark-text-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
}
.text--light {
  color: var(--main-light-text-color);
}

.text__about {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.63;
}
.text__about--last {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
}

.text__services {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 2.14;
}
@media screen and (max-width: 409px) {
  .text__services {
    font-size: 10px;
  }
}
.text__services:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.text__advantages {
  margin-top: 0;
  margin-bottom: 44px;
}

.btn--light {
  color: var(--secondary-light-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
}
.btn--light:hover, .btn--light:focus {
  color: var(--secondary-light-text-color);
  border-color: transparent;
  background-color: var(--accent-color);
}

.btn--dark {
  color: var(--secondary-dark-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), background-color var(--animation-time) var(--animation-time-function), border-color var(--animation-time) var(--animation-time-function);
}
.btn--dark:hover, .btn--dark:focus {
  color: var(--secondary-light-text-color);
  border-color: transparent;
  background-color: var(--accent-color);
}

.btn__submit {
  min-width: 160px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 40px;
  }
  .menu__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--secondary-light-text-color);
    -webkit-transition: color var(--animation-time) var(--animation-time-function);
    transition: color var(--animation-time) var(--animation-time-function);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}
.contacts {
  display: none;
}

.recources {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(5%) rotate(-90deg);
          transform: translateX(5%) rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}
.recources--footer {
  bottom: auto;
  right: 15px;
  left: auto;
  -webkit-transform: translateX(0) rotate(0deg);
          transform: translateX(0) rotate(0deg);
  padding-left: 0;
}
.recources::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 40px;
  background-color: var(--secondary-dark-text-color);
}

.recources__item:not(:last-child) {
  margin-right: 40px;
}

.recources__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-dark-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.recources__link:hover, .recources__link:focus {
  color: var(--accent-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  border-radius: 50%;
  background-color: var(--secondary-light-text-color);
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--secondary-dark-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.social__link:hover, .social__link:focus {
  color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.address {
  margin-bottom: 66px;
  font-style: normal;
}

.address__text {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.address__icon-wrapper {
  padding-top: 8px;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-light-text-color);
  -webkit-transition: color var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function);
}
.address__link--phone {
  margin-bottom: 20px;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__icon {
  margin-right: 16px;
  stroke: currentColor;
  fill: transparent;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding-top: 40px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .hero__aside {
    display: none;
  }
}
.hero__aside {
  position: relative;
  width: 100%;
  max-width: 70px;
  margin-right: 30px;
}

.hero {
  background-color: var(--secondary-bg-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero/mobile/hero-bg-slider3-mobile.jpg");
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/mobile/hero-bg-slider3-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/mobile/hero-bg-slider3@2x-mobile.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/hero-bg-slider3@2x-mobile.jpg");
  }
}
.hero__background {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 580px;
}

.hero__content {
  max-width: 310px;
}
@media screen and (max-width: 379px) {
  .hero__content {
    max-width: 260px;
  }
}

.hero__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__subtitle::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--subtitles-text-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 2.4px;
}
@media screen and (max-width: 379px) {
  .hero__title {
    font-size: 40px;
  }
}

.hero__text {
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 64px;
}

.services {
  margin-bottom: 50px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(24, 26, 36)), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, rgb(24, 26, 36), rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (max-width: 409px) {
  .services {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.services-left__item,
.services-right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.services-left__item,
.services-right__item:not(:last-child) {
  padding-bottom: 20px;
}

.services-left__item::before,
.services-right__item::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 6px;
  margin-left: 6px;
  border-bottom: 1px solid var(--dots-color);
}

.advantages {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--alternative-light-bg-color);
}
.advantages__item:nth-child(2n) {
  top: 30px;
}

.advantages__numbers {
  margin-top: 0;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--secondary-dark-text-color);
}

.advantages__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}

.advantages__subscr {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-dark-text-color);
}

.team__item:not(:last-child) {
  margin-bottom: 64px;
}

.team__content {
  padding-top: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-text-color);
}

.team__prof {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.subscribe {
  padding-right: 40px;
  width: 50%;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.field-group {
  position: relative;
  width: 50%;
}

.field-group:first-child {
  margin-right: 30px;
}

.registration__input {
  padding-bottom: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-light-text-color);
  background-color: transparent;
  -webkit-transition: border-color var(--animation-time) var(--animation-time-function);
  transition: border-color var(--animation-time) var(--animation-time-function);
}
.registration__input:focus {
  outline: none;
  border-color: var(--secondary-light-text-color);
}

.registration__label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: color var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: color var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function), color var(--animation-time) var(--animation-time-function);
  transition: transform var(--animation-time) var(--animation-time-function), color var(--animation-time) var(--animation-time-function), -webkit-transform var(--animation-time) var(--animation-time-function);
}
.registration__label:hover {
  cursor: pointer;
}

.field-group:hover .registration__input {
  cursor: pointer;
  border-color: var(--secondary-light-text-color);
}

.field-group:hover .registration__label {
  color: var(--secondary-light-text-color);
}

.registration__input:not(:-moz-placeholder-shown) + .registration__label {
  transform: translateY(-100%);
}

.registration__input:not(:-ms-input-placeholder) + .registration__label {
  transform: translateY(-100%);
}

.registration__input:focus + .registration__label,
.registration__input:not(:placeholder-shown) + .registration__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.comments-wrapper {
  position: relative;
  margin-bottom: 44px;
}

.registration__comments {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-light-text-color);
  background-color: transparent;
  -webkit-transition: border-color var(--animation-time) var(--animation-time-function);
  transition: border-color var(--animation-time) var(--animation-time-function);
}
.registration__comments:hover {
  cursor: pointer;
  border-color: var(--secondary-light-text-color);
}
.registration__comments:focus {
  outline: none;
  border-color: var(--secondary-light-text-color);
}

.registration__comments:hover + .registration__label {
  color: var(--secondary-light-text-color);
}

.registration__comments:not(:-moz-placeholder-shown) + .registration__label {
  transform: translateY(-100%);
}

.registration__comments:not(:-ms-input-placeholder) + .registration__label {
  transform: translateY(-100%);
}

.registration__comments:focus + .registration__label,
.registration__comments:not(:placeholder-shown) + .registration__label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.contact-us {
  width: 50%;
  padding-left: 100px;
}

.footer {
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: var(--alternative-light-bg-color);
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-light-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */