:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #191c26;
  --alternative-light-bg-color: #f7f7f7;
  --alternative-dark-bg-color: #111319;

  --main-dark-text-color: #555555;
  --main-light-text-color: #9da4bd;
  --subtitles-text-color: rgba(157, 164, 189, 0.6); /* #9da4bd 60% */
  --placeholder-text-color: rgba(157, 164, 189, 0.4); /* #9da4bd 40% */
  --dots-color: rgba(157, 164, 189, 0.12); /* #9da4bd 12% */
  --secondary-dark-text-color: #303030;
  --secondary-light-text-color: #ffffff;

  --accent-color: #ff6c00;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  background-color: var(--main-bg-color);
  color: var(--main-dark-text-color);
}

header {
  background-color: var(--secondary-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle-light {
  color: var(--subtitles-text-color);
}

.subtitle-dark {
  color: var(--secondary-dark-text-color);
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-light {
  color: var(--secondary-light-text-color);
}

.title-dark {
  color: var(--secondary-dark-text-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.text-light {
  color: var(--main-light-text-color);
}

/* HEADER-NAVIGATION */

.nav-link,
.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-light-text-color);
}

.nav-link:hover,
.tel-link:hover,
.nav-link:focus,
.tel-link:focus {
  color: var(--accent-color);
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
}

.btn-light {
  color: var(--secondary-light-text-color);
}

.btn-dark {
  color: var(--secondary-dark-text-color);
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
}

/* HERO-ASIDE */

.link-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-dark-text-color);
}

.link-social:hover,
.link-social:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: var(--secondary-bg-color);
}

.title-hero {
  font-size: 72px;
  line-height: 1.18;
}

/* SECTION - ABOUT US */

.subtitle-about-us {
  line-height: 1.18;
}

/* SECTION - SERVICES */

.sevices {
  background-color: var(--alternative-dark-bg-color);
}

/* SECTION - ADVANTAGES */

.advantages-item {
  background-color: var(--alternative-light-bg-color);
}

.advantages-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-dark-text-color);
}

.advantages-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
}

.advantages-subscr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--secondary-dark-text-color);
}

/* SECTION - TEAM */

.team {
  background-color: var(--alternative-light-bg-color);
}

.team-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-dark-text-color);
}

.team-prof {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* SECTION - PORTFOLIO */

/* SECTION - SUBSCRIBE & CONTACTS */

.subscribe {
  background-color: var(--secondary-bg-color);
}

.text-address {
  font-style: normal;
}

.subscribe-link,
.subscribe-mail {
  color: var(--main-light-text-color);
}

.subscribe-link:hover,
.subscribe-mail:hover,
.subscribe-link:focus,
.subscribe-mail:focus {
  color: var(--accent-color);
}

.subtitle-contacts {
  line-height: 1.18;

  color: var(--secondary-light-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--alternative-light-bg-color);
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-light-text-color);
}
