:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #191c26;
  --alternative-light-bg-color: #f7f7f7;
  --alternative-dark-bg-color: #111319;

  --main-dark-text-color: #555555;
  --main-light-text-color: #9da4bd;
  --subtitles-text-color: rgba(157, 164, 189, 0.6); /* #9da4bd 60% */
  --placeholder-text-color: rgba(157, 164, 189, 0.4); /* #9da4bd 40% */
  --dots-color: rgba(157, 164, 189, 0.12); /* #9da4bd 12% */
  --secondary-dark-text-color: #303030;
  --secondary-light-text-color: #ffffff;

  --accent-color: #ff6c00;

  --animation-time: 250ms;
  --animation-time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;

  background-color: var(--main-bg-color);
  color: var(--main-dark-text-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* LOGO */

.logo {
  display: block;
  margin-right: 72px;
  width: 70px;
  height: 56px;

  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.logo__icon {
  fill: currentColor;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.subtitle--light {
  color: var(--subtitles-text-color);
}

.subtitle--dark {
  color: var(--secondary-dark-text-color);
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title--light {
  color: var(--secondary-light-text-color);
}

.title--dark {
  color: var(--secondary-dark-text-color);
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.text--light {
  color: var(--main-light-text-color);
}

/* BUTTON - ONLINE */

.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.btn--light {
  color: var(--secondary-light-text-color);

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function);
}

.btn--dark {
  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function),
    background-color var(--animation-time) var(--animation-time-function);
}

.btn:hover,
.btn:focus {
  border-color: transparent;

  cursor: pointer;
}

.btn--light:hover,
.btn--dark:hover,
.btn--light:focus,
.btn--dark:focus {
  color: var(--secondary-light-text-color);
  background-color: var(--accent-color);
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  padding-top: 32px;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-light-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__tel {
  display: block;
  margin-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--secondary-light-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}

/* HERO */

.container__hero {
  display: flex;
  justify-content: space-between;
}

/* HERO-ASIDE */

.hero__aside {
  position: relative;
  width: 100%;
  max-width: 70px;
  margin-right: 30px;
}

.social {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(5%) rotate(-90deg);
  transform-origin: bottom left;

  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 40px;
}

.social::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 40px;

  background-color: var(--secondary-dark-text-color);
}

.social__item:not(:last-child) {
  margin-right: 40px;
}

.social__link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.social__link:hover,
.social__link:focus {
  color: var(--accent-color);
}

/* HERO - POSTER */

.hero__background {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1070px;
  min-height: 680px;
  padding-left: 100px;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../images/hero/hero-bg-desktop-opt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.hero__subtitle::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--subtitles-text-color);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 72px;
  line-height: 1.18;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 0;
}

/* SECTION - ABOUT US */

.container__about {
  display: flex;
}

.about {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 64px;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.subtitle__about {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  line-height: 1.18;
}

.subtitle__about::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--secondary-dark-text-color);
}

.title__about {
  margin-top: 0;
  margin-bottom: 20px;
}

.text__about {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.86;
}

.text__about--last {
  margin-bottom: 40px;
}

/* SECTION - SERVICES */

.section-sevices {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;

  background-color: var(--alternative-dark-bg-color);
  background-image: linear-gradient(
      rgba(17, 19, 25, 0.8),
      rgba(17, 19, 25, 0.8)
    ),
    url('../images/services/services-bg-desktop-opt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-services {
  text-align: center;
}

.subtitle-services {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  text-align: left;
}

.subtitle-services::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--subtitles-text-color);
}

.title-services {
  margin-top: 0;
  margin-bottom: 44px;

  text-align: left;
}

.services-list {
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.services-list-item {
  width: 585px;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-left: 40px;
}

.services-list-item-left {
  background-image: linear-gradient(
    180deg,
    rgb(23, 26, 36) 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.services-list-item-right {
  background-image: linear-gradient(
    180deg,
    rgb(9, 11, 19) 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-left,
.services-right {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.services-left-item,
.services-right-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.services-left-item:not(:last-child),
.services-right-item:not(:last-child) {
  padding-bottom: 20px;
}

.services-left-item::before,
.services-right-item::before {
  content: '';
  display: inline-flex;
  flex-grow: 1;
  margin-right: 6px;
  margin-left: 6px;
  border-bottom: 1px solid var(--dots-color);
}

.services-text {
  margin-top: 0;
  margin-bottom: 0;
}

.services-text:first-child {
  order: -1;
}

/* SECTION - ADVANTAGES */

.container-advantages {
  padding-left: 114px;
  padding-right: 114px;
  display: flex;
}

.advantages-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: auto;
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-item {
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  flex-basis: calc((100% - 30px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--alternative-light-bg-color);
}

.advantages-item:nth-child(2n) {
  top: 30px;
}

.advantages-numbers {
  margin-top: 0;
  margin-bottom: 6px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-dark-text-color);
}

.advantages-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
}

.advantages-subscr {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--secondary-dark-text-color);
}

.advantages-content {
  width: 500px;
}

.subtitle-advantages {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.subtitle-advantages::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--secondary-dark-text-color);
}

.title-advantages {
  margin-top: 0;
  margin-bottom: 20px;
}

.advantages-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* SECTION - TEAM */

.team {
  background-color: var(--alternative-light-bg-color);
}

.subtitle-team {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.subtitle-team::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--secondary-dark-text-color);
}

.title-team {
  margin-top: 0;
  margin-bottom: 44px;
}

.list-team {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-team-item {
  flex-basis: calc((100% - 60px) / 3);
}

.team-item-content {
  padding-top: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--secondary-dark-text-color);
}

.team-prof {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.list-social {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.list-social-item {
  border-radius: 50%;

  background-color: var(--secondary-light-text-color);
}

.list-social-item:not(:last-child) {
  margin-right: 10px;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.link-social-icon {
  fill: currentColor;
}

.link-social:hover,
.link-social:focus {
  color: var(--accent-color);
}

/* SECTION - PORTFOLIO */

.subtitle-portfolio {
  margin-top: 0;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
}

.subtitle-portfolio::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--secondary-dark-text-color);
}

.title-portfolio {
  margin-top: 0;
  margin-bottom: 44px;
}

.list-portfolio {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-portfolio-item {
  flex-basis: calc((100% - 90px) / 4);
}

/* SECTION - SUBSCRIBE & CONTACTS */

.section-contacts {
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.9),
      rgba(25, 28, 38, 0.9)
    ),
    url('../images/contacts/contacts-bg-desktop-opt.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
}

.subscribe-container {
  display: flex;
  justify-content: center;
}

.subscribe-content {
  padding-right: 40px;
  width: 50%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.field-group {
  position: relative;
  width: 50%;
}

.field-group:first-child {
  margin-right: 30px;
}

.form-input {
  padding-bottom: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--secondary-light-text-color);
  background-color: transparent;

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;

  transition: transform var(--animation-time) var(--animation-time-function),
    color var(--animation-time) var(--animation-time-function);
}

.form-label:hover {
  cursor: pointer;
}

.field-group:hover .form-input {
  cursor: pointer;

  border-color: var(--secondary-light-text-color);
}

.field-group:hover .form-label {
  color: var(--secondary-light-text-color);
}

.form-input:focus {
  outline: none;

  border-color: var(--secondary-light-text-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-100%);
}

.comments-wrapper {
  position: relative;
  margin-bottom: 44px;
}

.form-comments {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--placeholder-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: var(--secondary-light-text-color);
  background-color: transparent;

  transition: border-color var(--animation-time) var(--animation-time-function);
}

.form-comments:hover {
  cursor: pointer;
  border-color: var(--secondary-light-text-color);
}

.form-comments:hover + .form-label {
  color: var(--secondary-light-text-color);
}

.form-comments:focus {
  outline: none;

  border-color: var(--secondary-light-text-color);
}

.form-comments:focus + .form-label,
.form-comments:not(:placeholder-shown) + .form-label {
  transform: translateY(-100%);
}

.btn-submit {
  min-width: 160px;
}

.contacts-content {
  width: 50%;
  padding-left: 100px;
}

.title-subscribe,
.title-contacts {
  margin-top: 0;
  margin-bottom: 44px;
}

.address {
  margin-bottom: 66px;

  font-style: normal;
}

.address-text {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.wrap-map-icon {
  padding-top: 8px;
}

.map-icon {
  margin-right: 16px;

  stroke: currentColor;
  fill: transparent;
}

.subscribe-link {
  margin-bottom: 20px;
}

.subscribe-link,
.subscribe-mail {
  display: flex;
  align-items: center;

  color: var(--main-light-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.mail-icon,
.phone-icon {
  margin-right: 16px;

  stroke: currentColor;
  fill: transparent;
}

.subscribe-link:hover,
.subscribe-mail:hover,
.subscribe-link:focus,
.subscribe-mail:focus {
  color: var(--accent-color);
}

.subtitle-contacts {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  line-height: 1.18;

  color: var(--secondary-light-text-color);
}

.subtitle-contacts::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 20px;

  background-color: var(--placeholder-text-color);
}

.text-time {
  margin-top: 0;
  margin-bottom: 0;
}

/* FOOTER */

.footer {
  padding-top: 52px;
  padding-bottom: 52px;

  background-color: var(--alternative-light-bg-color);
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-light-text-color);
}

.footer-social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.footer-social-list::before {
  content: '';
  display: block;
  height: 1px;
  width: 60px;
  margin-right: 40px;

  background-color: var(--secondary-dark-text-color);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 40px;
}

.footer-link-social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-dark-text-color);

  transition: color var(--animation-time) var(--animation-time-function);
}

.footer-link-social:hover,
.footer-link-social:focus {
  color: var(--accent-color);
}
