.hero__background {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1070px;
  min-height: 680px;
  padding-left: 100px;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../images/hero/hero-bg-desktop-opt.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    height: 1px;
    width: 60px;
    margin-right: 20px;

    background-color: var(--subtitles-text-color);
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 72px;
  line-height: 1.18;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 0;
}
