// MOBILE

.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36; // 15px
  letter-spacing: 0.1em; // 10%
  text-transform: uppercase;

  &--light {
    color: var(--subtitles-text-color);
  }

  &--dark {
    color: var(--secondary-dark-text-color);
  }
}

// .subtitle__about {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   line-height: 1.18;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__services {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   text-align: left;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--subtitles-text-color);
//   }
// }

// .subtitle__advantages {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__team {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__portfolio {
//   margin-top: 0;
//   margin-bottom: 44px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__contact-us {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   line-height: 1.18;

//   color: var(--secondary-light-text-color);

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--placeholder-text-color);
//   }
// }

// DESKTOP

// .subtitle {
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 1.36;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;

//   &--light {
//     color: var(--subtitles-text-color);
//   }

//   &--dark {
//     color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__about {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   line-height: 1.18;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__services {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   text-align: left;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--subtitles-text-color);
//   }
// }

// .subtitle__advantages {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__team {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__portfolio {
//   margin-top: 0;
//   margin-bottom: 44px;
//   display: flex;
//   align-items: center;

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--secondary-dark-text-color);
//   }
// }

// .subtitle__contact-us {
//   margin-top: 0;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;

//   line-height: 1.18;

//   color: var(--secondary-light-text-color);

//   &::before {
//     content: '';
//     display: block;
//     height: 1px;
//     width: 60px;
//     margin-right: 20px;

//     background-color: var(--placeholder-text-color);
//   }
// }
