// MOBILE

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18; // 33px
  letter-spacing: 0.05em; // 5%

  &--light {
    color: var(--secondary-light-text-color);
  }

  &--dark {
    color: var(--secondary-dark-text-color);
  }
}

.title__about {
  margin-top: 0;
  margin-bottom: 20px;
}

.title__services {
  margin-top: 0;
  margin-bottom: 44px;

  font-size: 42px;
  line-height: 1.17; // 49px

  text-align: left;
}

.title__advantages {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 42px;
  line-height: 1.17; // 49px
}

// .title__team {
//   margin-top: 0;
//   margin-bottom: 44px;
// }

// .title__portfolio {
//   margin-top: 0;
//   margin-bottom: 44px;
// }

// .title__subscribe,
// .title__contact-us {
//   margin-top: 0;
//   margin-bottom: 44px;
// }

// DESKTOP

// .title {
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 42px;
//   line-height: 1.17;
//   letter-spacing: 0.05em;

//   &--light {
//     color: var(--secondary-light-text-color);
//   }

//   &--dark {
//     color: var(--secondary-dark-text-color);
//   }
// }

// .title__about {
//   margin-top: 0;
//   margin-bottom: 20px;
// }

// .title__services {
//   margin-top: 0;
//   margin-bottom: 44px;

//   text-align: left;
// }

// .title__advantages {
//   margin-top: 0;
//   margin-bottom: 20px;
// }

// .title__team {
//   margin-top: 0;
//   margin-bottom: 44px;
// }

// .title__portfolio {
//   margin-top: 0;
//   margin-bottom: 44px;
// }

// .title__subscribe,
// .title__contact-us {
//   margin-top: 0;
//   margin-bottom: 44px;
// }
